/*parte de cima*/
body{
    margin: 0;
}

.logo{ 
    margin-top: 0;
    background-color:  rgb(255, 0, 0);
    height: 10vh;
}

h2{
    padding-top: 10px;
    margin-top: 15px;
    float: left;
    margin-left: 200px;
    font-size: 40vh;
}


.imagens img {
    height: 25px;
    width: 25px;
    margin-right: 2px;
    margin-top: 0px;
}

.imagens{
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 100px;
    padding-top: 15px;
}

/*navegação*/



.pincipal{
    max-width: 1000px;
    margin: 0 auto;
    
}